.painting {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  background-color: aliceblue;
}

.buttons {
  display: flex;
  button:not(:last-child) {
    margin-right: 10px;
  }
}

.painting-input {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  label {
    width: 100px;
  }
  input {
    width: 50px;
  }
}